---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";

import * as intro from "../data/intro.md";
import { getCollection } from 'astro:content';

const sections = await getCollection('sections');
const sorted = sections.sort((a, b) => a.data.order - b.data.order);
---

<Layout>
    <Header sections={sorted} />
    <main>
        <Hero
            tagline={intro.frontmatter.tagline}
            subtagline={intro.frontmatter.subtagline}
            buttons={intro.frontmatter.buttons}
        />
        {sorted.map(section => <Section section={section} />)}
    </main>
    <Footer />
</Layout>
