---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import * as intro from "../data/intro.md";
import { getCollection } from 'astro:content';
const sections = await getCollection('sections');
---

<Layout>
	<div class="l-site">
		<Header />
		<main>
			<Hero
				title={intro.frontmatter.title}
				content={intro.Content}
				videoSrc={intro.frontmatter.videoSrc}
			/>
			{sections.sort((a, b) => a.data.order - b.data.order).map(section => <Section title={section.data.title} order={section.data.order} render={section.render} />)}
		</main>
	</div>
</Layout>
